
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 300px;
}

h2{
    text-align: center;
}

table{
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

table#info_perso input {
    align-items:flex-start;
    width: 90%;
}


table#code td {
    width: 40%;
}

table#code td input {
    width: 50%;
    text-align: center;
}


#pave{
    width: 100%;
    height: 50%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);

}

table#pave td{
    font-weight: bold;
    font-size: 150%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid black;
}




.erreur{
    text-align: center;
    width: 100%;
    color: #D8000C;
    background-color: #FFBABA;
}
